// Media Queries

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px)
  // Styles

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
  // Styles

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px)
  // Styles

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
  // Styles

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape)
  // Styles

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait)
  // Styles

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px)
  // Styles

/* Large screens ----------- */
@media only screen
and (min-width : 1824px)
  // Styles

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
  // Styles

// ----------------------------

/* iPhone 5 */
@media (min-width: 320px) and (max-width: 568px) {

}

/* Tablet */
@media (min-width: 600px) and (max-width: 800px) {

}

/* iPad 2, 3, mini */
@media (min-width: 768px) and (max-width: 1024px) {
} // iPad

// ----------------------------

/* iPhone 6 and 6+ */
@media only screen
and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px)

// ----------------------------

// Handheld. Handles both portrait and landscape
@media (min-width: 320px) and (max-width: 568px)
  // Styles

//Tablet. Handles both portrait and landscape.
@media (min-width: 600px) and (max-width: 800px)
   // Styles

// ----------------------------

@media all {
  /* all devices */
}
@media screen {
  /* computer screens */
}
@media print {
  /* printers */
}
@media aural {
  /* speech and sound synthesizers */
}
@media braille {
  /* braille tactile feedback devices */
}
@media embossed {
  /* paged braille printers */
}
@media handheld {
  /* small or handheld devices */
}
@media projection {
  /* projected presentations */
}
@media tty {
  /* teletypes and terminals */
}
@media tv {
  /* television-type devices */
}
